.base-container {
  font-family: Cursive;
  padding: 250px;
  justify-content: center;
  width: 30%;
  border: 1px solid black;
  padding: 55px 224px;
  font-size: 20px;
  background: white;
  border-radius: 40px;
  box-shadow: black;
  margin: 0 auto;
}

.heading {
  background-color: gray;
  text-decoration: none;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 93%;
  color: white;
  padding: 30px;
  margin: 20px;
}

.btn {
  display: inline-block;
  text-decoration: none;

  border: 1px solid rgb(255, 255, 255);
  padding: 10px 18px;
  font-size: 13px;
  background: coral;
  position: relative;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid red;
  background: gray;
  transition: 1s;
}

.footers {
  text-decoration: none;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

input {
  height: 30px;
  padding: 5px;
  margin: 5px;

  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 160px;
  color: #ccc;

  border-radius: 30px;
}
